@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-container: #1f2a44;
  --color-on-tertiary: #ffffff;
  --color-outline: #76777e;
  --color-secondary-fixed-dim: #c5c7c8;
  --color-on-primary-fixed: #0f1b34;
  --color-surface-bright: #faf8ff;
  --color-surface-container-highest: #d9e2ff;
  --color-surface-dim: #cfd9fb;
  --color-inverse-primary: #bbc6e7;
  --color-surface-container-lowest: #ffffff;
  --color-background: #faf8ff;
  --color-secondary: #5c5f60;
  --color-on-secondary-container: #606365;
  --color-on-secondary-fixed-variant: #444749;
  --color-on-tertiary-container: #4f3d00;
  --color-tertiary-container: #cea62c;
  --color-primary: #09152e;
  --color-on-surface: #0f1b34;
  --color-on-error: #ffffff;
  --color-secondary-fixed: #e1e2e4;
  --color-inverse-on-surface: #eef0ff;
  --color-on-primary-fixed-variant: #3b4662;
  --color-surface-container-high: #e1e7ff;
  --color-primary-fixed: #d9e2ff;
  --color-on-secondary-fixed: #191c1e;
  --color-tertiary-fixed: #ffe08e;
  --color-surface-tint: #535e7b;
  --color-surface: #faf8ff;
  --color-on-surface-variant: #45464d;
  --color-error-container: #ffdad6;
  --color-on-primary-container: #8691b0;
  --color-surface-container-low: #f2f3ff;
  --color-primary-fixed-dim: #bbc6e7;
  --color-tertiary: #755b00;
  --color-surface-container: #e9edff;
  --color-tertiary-fixed-dim: #ecc246;
  --color-outline-variant: #c6c6ce;
  --color-error: #ba1a1a;
  --color-on-secondary: #ffffff;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed: #241a00;
  --color-inverse-surface: #25304a;
  --color-on-error-container: #93000a;
  --color-on-tertiary-fixed-variant: #584400;
  --color-on-background: #0f1b34;
  --color-surface-variant: #d9e2ff;
  --color-secondary-container: #dee0e2;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
  }
}
